body {
    font-family: 'Poppins', sans-serif;
    background: url(../imagens/background.jpg);
}

.titulo-descricao {
	background: #FFFFFF;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 95px;
	margin-right: 95px;
	border-radius: 10px;;
}

.titulo-descricao h1 {
	font-size: 32px;
	font-weight: 600;
	color: #00008B;
	text-transform: uppercase;
	padding-top: 20px;
}

.titulo-descricao p {
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.games {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ac ff gow hzd mgs"
                        "mk re ss tlou zld";
}

.games li {
	text-align: center;
    color: #FFFFFF;
	font-size: 20px;
	margin: 0 1.5%;
	padding: 30px 20px;
}

.games li:hover {
	transform: scale(1.2);
}

.games li img {
	max-width: 128px;
	border-radius: 10px;
}

.games h4 {
	margin-top: 15px;
}
